.list__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e64b30;
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
}

.first__half {
  display: flex;
  align-items: center;
}

.first__half a {
  text-decoration: none;
  color: white;
  font-size: 1.65rem;
  text-transform: capitalize;
  margin-left: 0.7rem;
  font-weight: 600;
}

.loggedin_user_name{
  font-size:1.3rem;
  color: white;
  font-weight: bold;
  padding:0 0.8rem;
  text-transform: capitalize;
}


.first__half .sidebar__header__icon {
  font-size: 2.7rem !important;
  color: white;
  font-weight: 500;
  margin-left: 0.35rem;
}

.list__wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sidebar__list {
  text-decoration: none;
  color: black;
  margin: 1rem;
  padding:0 0.5rem;
}

.sidebar__list:hover{
  background-color: rgb(51,50,50);
  color: white;
  padding:0 0.5rem;
}

.sidebar__list__icon {
  font-size: 2.6rem !important;
}

.sidebar__item {
  list-style: none;
  font-size: 1.6rem;
  margin-left: 0.8rem;
  text-transform: capitalize;
}
